<!DOCTYPE html>
<html>
    <head>
        <link href="styles.css" rel="stylesheet"/>
        <link rel="icon" href="img/favicon.png">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Source+Serif+4:opsz@8..60&display=swap" rel="stylesheet">
        <title>JJ Irons</title>
    </head>
<body>
    <div id="app">
        <!-- ===================== Page Loading ===================== -->
        <div v-if="loadingData" class="loading-data">Loading...</div>

        <!-- ======================================================== -->
        <!-- ====================== Home Page ======================= -->
        <!-- ======================================================== -->
        <div class="contents" v-if="page == 'home' && !loadingData">
            <div class="header">
                <div class="slideshow">
                    <img :src="currentSlideImage" class="slide-img" />
                </div>
                <div class="info">
                    <img src="img/JJLogo.png" alt="JJ Irons, Artist, Craftsman, Designer" class="body-img">
                </div>
                <div class="store">
                    <div class="cart">
                        <img src="img/cart.png" alt="cart" class="cart-img" height="50px" @click="page = 'cart'">
                        <div class="alert">
                            <div id="localAlert">{{cartItems.length}}</div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="body-grid">
                <div v-for="(category, index) in siteData.categories" :key="index" class="body-item"  @click="selectedCategory = category; selectedCategoryItems = siteData[category.categoryObject]; page = 'subpage';">
                    <img :src="category.img" :alt="category.categoryObject" class="body-img">
                </div>
            </div>
        </div>

        <!-- ======================================================== -->
        <!-- ======================= Sub Page ======================= -->
        <!-- ======================================================== -->
        <div class="contents" v-if="page == 'subpage' && !loadingData">
            <header>
                <div class="back">
                    <img src="img/back.png" alt="back arrow" class="arrow" @click="page = 'home'">
                </div>
                <div class="title-page"><h1>{{selectedCategory.name}}</h1></div>
                <div class="subpage-cart">
                    <div class="cart">
                        <img src="img/cart.png" alt="cart" class="cart-img" height="50px" @click="page = 'cart'">
                        <div class="alert">
                            <div id="localAlert">{{cartItems.length}}</div>
                        </div>
                    </div>
                </div>
            </header>

            <div class="project" v-for="(project, index) in selectedCategoryItems" :key="index">
                <div class="project-photo">
                    <img :src="project.img" :alt="project.alt">
                </div>
                <div class="project-info">
                    <h2>{{project.name}}</h2>
                    <p>{{project.description}}</p>
                </div>
                <div class="sale" v-if="project.isForSale">
                    <p>${{project.price}}<br>{{project.additionalInfo}}</p>
                    <div class="sale-buttons">
                        <button type="button" @click="addItemToCart(project)">Add To Cart</button>
                        <button type="button" @click="removeItemFromCart(project)">Remove From Cart</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- ======================================================== -->
        <!-- ========================= Cart ========================= -->
        <!-- ======================================================== -->
        <div class="contents" v-if="page == 'cart' && !loadingData">
            <header>
                <div class="back">
                    <img src="../img/back.png" alt="back arrow" class="arrow" @click="page = 'home'">
                </div>
                <div class="title-page"><h1>Cart</h1></div>

                <div class="submit">
                    <button type="submit" @click="checkCart()">Submit Order</button>
                </div>
            </header>

            <div class="checkout">
                <div class="cart-items-list">
                    <div v-for="(item, i) in cartItems" :key="i" class="cart-item"><span>{{item.name}}</span><span>${{item.price}}</span></div>
                    <div class="cart-item"><span>Total Tax</span><span>${{cartTax}}</span></div>
                </div>
            </div>
    
            <div class="checkout">
                <div class="cart-items-list">
                    <div class="cart-item">
                        <h2>Total:</h2>
                        <h2 id="toPay">${{cartTotal}}</h2>
                    </div>
                </div>
            </div>

            <div class="checkout">
                <p>
                    Note: Shipping cost is included in each item price. <br><br> After 
                    requesting an order, I will review it and ask any applicable 
                    questions <br> (ex: what design would you like on the custom box car) 
                    before sending you an invoice <br> through Square where you can securly 
                    submit your payment and shipping information.
                </p>
            </div>
        </div>
        <!-- ========================= Email Modal ========================= -->
        <div class="email-modal" v-if="showEmailModal">
            <div class="email-modal-inner">
                <div v-if="submittingOrder" class="submitting-order">Submitting...</div>
                <div class="contents" v-else>
                    <div class="email-modal-text">Before submitting this order, please enter your email address so I can contact you if I have any questions and to send an invoice</div>
                    <input type="text" v-model="contactEmail" class="email-modal-input">
                    <button type="submit" @click="submitOrder()">Submit Order</button>
                </div>
            </div>
        </div>


        <!-- ======================================================== -->
        <!-- ================== Order Confirmation ================== -->
        <!-- ======================================================== -->
        <div class="contents" v-if="page == 'confirmation' && !loadingData">
            <header>
                <div class="back">
                    <img src="../img/back.png" alt="back arrow" class="arrow" @click="page = 'home'">
                </div>
                <div class="title-page"><h1>Order Confirmation</h1></div>

                <div class="submit">
                </div>
            </header>
            <div class="checkout">
                <div class="order-confirmation">
                    <h2>ORDER CONFIRMED</h2>
                    <p>
                        Thank you for your order!<br><br>
                        I will review it and ask any applicable questions (ex: what design would you like on the custom box car) before sending you an invoice through Square where you can securly submit your payment and shipping information.
                    </p>
                </div>
            </div>
        </div>
            
        <div class="footer">
            <a href='https://www.free-counters.org/'>... by Free-Counters.org</a> <script type='text/javascript' src='https://www.freevisitorcounters.com/auth.php?id=564182d732d2a715c8f342995742dd61048e4927'></script>
            <script type="text/javascript" src="https://www.freevisitorcounters.com/en/home/counter/1163025/t/1"></script>
            <div class="logos">
                <img src="img/contacts.png" alt="contacts, JJCreatorOfWorld and me@jjirons.com" height="100px">
            </div>
            <div class="power">
                <img src="img/squareLogo.png" alt="square logo" height="100px">
            </div>
        </div>
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.7.1.min.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
<script src="main.js"></script>
</html>