html, body {
    background-color: #102820;
}

h1 {
    color: white;
}
header {
    display: flex;
    margin: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #4c6444;
}
.cart {
    margin-top: 15px;
    margin-right: 15px;
}
.cart:hover {
    transform: scale(1.2);
}
.back {
    height: 20px;
    justify-content: center;
    width: 40%;
}
.arrow {
    height: 70px;
    margin-top: 5px;
    margin-left: 5px;
}
.arrow:hover {
    transform: scale(1.2);
}
.title-page {
    width: 60%;
    justify-content: center;
}

/*------------------------------------------------------------------------------------------------*/
h2 {
    font-size: 25px;
}
p {
    font-size: 20px;
}

.project {
    background-color: #4c6444;
    color: white;
    margin: 5px;
    display: flex;
    align-items: top;
    justify-content: flex-start;
}
.project-photo {
    width: 20%;
}
.project-photo img {
    width: 100%;
    padding: 10px;
    padding-bottom: 5px;
}
.project-info {
    width: 70%;
    padding: 5px;
    padding-left: 20px;
}
.sale {
    width: 10%;
    padding: 20px;
}

/*--------------------------------------------------------------------------------------*/
.footer {
    color: white;
    display: flex;
    justify-content: space-evenly;
    height: 10%;
    background-color: #102820;
    margin: 10px;
}